<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Archery Scores" />
        <meta name="keywords" content="archery, scores" />
        <meta name="author" content="Alex Hedley" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="css/vendor/sticky-footer.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" />
        <!-- <link rel="stylesheet" href="css/jquery-ui.min.css"> -->
        <link rel="stylesheet" href="css/vendor/jquery-ui.1.12.1.min.css" />
        <link rel="stylesheet" href="css/styles.css" />
        <!-- Components -->
        <link rel="stylesheet" href="components/summary/summary.component.css" />
        <link rel="stylesheet" href="components/score/score.component.css" />
        <link rel="stylesheet" href="components/score-alt/score-alt.component.css" />
        <link rel="stylesheet" href="components/score-creator/score-creator.component.css" />
        <link rel="stylesheet" href="components/target-alt/target-alt.component.css" />
        <link rel="stylesheet" href="components/target/target.component.css" />

        <!-- icons [https://www.favicon-generator.org/] -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png" />
        <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
        <meta name="theme-color" content="#ffffff" />

        <link rel="shortcut icon" href="favicon.ico" />
        
        <!-- Fonts -->
        <!-- <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'> -->

        <title>Archery Scores</title>
    </head>
    <body ng-app="app">
        <!-- Begin page content -->
        <main role="main" class="container" ng-controller="controller">
            <section class="jumbotron title-container text-center">
                <div class="container">
                    <img src="images/neil_slorance.jpg" alt="Neil Slorance" width="100px" class="img-thumbnail" />
                </div>
            </section>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active" role="presentation">
                    <button class="nav-link active" id="score-tab" data-bs-toggle="tab" data-bs-target="#score" type="button" role="tab" aria-controls="score" aria-selected="true">Score</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="score-tab" data-bs-toggle="tab" data-bs-target="#score-creator" type="button" role="tab" aria-controls="score-creator" aria-selected="true">
                        Score Creator
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="target-tab" data-bs-toggle="tab" data-bs-target="#target" type="button" role="tab" aria-controls="target" aria-selected="true">Target</button>
                </li>
            </ul>

            <!-- Tabs -->
            <div class="tab-content" id="myTabContent">
                <!-- Scores -->
                <div class="tab-pane fade show active" id="score" role="tabpanel" aria-labelledby="score-tab">
                    <section class="jumbotron title-container text-center">
                        <div>
                            <h1>
                                <i class="fa-solid fa-bullseye"></i>
                                Archery Scores
                            </h1>

                            <div class="row justify-content-md-center">
                                <div class="col-lg-8">
                                    <div class="input-group search-bar">
                                        <input type="text" class="form-control" ng-model="searchText" placeholder="Search for a game!..." aria-label="Search" />
                                        <button type="submit" class="btn btn-success">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h2>🏹 Stats</h2>
                            </div>
                        </div>

                        <div class="row justify-content-md-center">
                            <div class="col">
                                <summary summaries="summaries"></summary>
                            </div>
                        </div>

                        <div class="row justify-content-md-center">
                            <div ng-repeat="score in scores track by $index">
                                <!-- <ul class="nav nav-tabs" id="tab-scores-tabs" role="tablist">
                                    <li class="nav-item active" role="presentation">
                                        <button class="nav-link active" id="score-{{$index}}" data-bs-toggle="tab" data-bs-target="#score-{{$index}}" type="button" role="tab" aria-controls="score-{{$index}}" aria-selected="true">
                                            Score
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="score-alt-{{$index}}" data-bs-toggle="tab" data-bs-target="#score-alt-{{$index}}" type="button" role="tab" aria-controls="score-alt-{{$index}}" aria-selected="true">
                                            Score Alt
                                        </button>
                                    </li>
                                </ul> -->

                                <!-- Tabs -->
                                <!-- <div class="tab-content" id="tab-scores"> -->
                                <!-- <div class="tab-pane fade show active" id="score-{{$index}}" role="tabpanel" aria-labelledby="score-{{$index}}-tab"> -->
                                <score score="score"></score>
                                <!-- </div> -->
                                <!-- <div class="tab-pane fade" id="score-alt-{{$index}}" role="tabpanel" aria-labelledby="score-alt-{{$index}}-tab"> -->
                                <score-alt score="score"></score-alt>
                                <!-- </div> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Score Creator -->
                <div class="tab-pane fade" id="score-creator" role="tabpanel" aria-labelledby="score-creator-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h2>🏹 Score Creator</h2>
                            </div>
                        </div>

                        <div class="row justify-content-md-center">
                            <div class="col">
                                <p>In Progress...</p>
                                <score-creator score="scores[0]"></score-creator>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Target -->
                <div class="tab-pane fade" id="target" role="tabpanel" aria-labelledby="target-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h2>🎯 Target</h2>
                            </div>
                        </div>

                        <div class="row justify-content-md-center">
                            <div class="col">
                                <p>In Progress...</p>
                                <target-alt></target-alt>
                            </div>
                        </div>

                        <div class="row justify-content-md-center">
                            <div class="col">
                                <p>In Progress...</p>
                                <target></target>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <br />

        <footer class="footer">
            <div class="container">
                <span class="text-muted"> <a href="https://www.alexhedley.com/" target="_blank">Alex Hedley</a>.</span>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/vendor/jquery/jquery-3.3.1.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="js/vendor/jquery/jquery-slim.min.js"><\/script>');
        </script>
        <script src="js/vendor/jquery/jquery-ui.min.js"></script>
        <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
        <script src="js/vendor/angularjs/angular.min.js"></script>

        <!-- <script src="js/vendor/chartjs/chart.min.js"></script>
        <script src="js/vendor/chartjs/chartjs-plugin-annotation_1.0.2.js"></script>
        <script src="js/vendor/chartjs/chartjs-plugin-datalabels.min.js"></script> -->

        <script src="js/app.js"></script>
        <script src="js/filters.js"></script>
        <!-- Services -->
        <script src="services/scoreService.js"></script>
        <!-- Components -->
        <script src="components/summary/summary.component.js"></script>
        <script src="components/score/score.component.js"></script>
        <script src="components/score-alt/score-alt.component.js"></script>
        <script src="components/score-creator/score-creator.component.js"></script>
        <script src="components/target-alt/target-alt.component.js"></script>
        <script src="components/target/target.component.js"></script>
    </body>
</html>
